.vscode/
android/.settings/
.packages
example/pubspec.lock
pubspec.lock
.idea
.idea/*
gradlew
package_config.json
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties
.flutter-plugins-dependencies
